.header {
  background-color: blue;
  height: 5vh;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: yellow;
  overflow-y: scroll;
  height: 85vh;
}

.form {
  background-color: red;
  height: 10vh;
}

.input_message {
  width: 90%;
  margin-left: 20px;
  font-size: 15px;
  height: 20px;
}

.group_index_header {
  background-color: blue;
  height: 5vh;
}

.group_contents {
  background-color: yellow;
  display: grid;
  grid-template-areas:
    "side upper1 upper2"
    "side footer footer";
    grid-template-rows: 40px 60px;
    grid-template-columns: 100px 200px 150px;
    .user_image {
      grid-area: side;
      background-color: red;
    }
    .user_name {
      grid-area: upper1;
      background-color: green;
    }
    .message_created_at {
      grid-area: upper2;
      background-color: gray;
    }
    .message_content {
      grid-area: footer;
      background-color: purple;
    }
}
