.header {
  background-color: #bfbfbf;
  height: 5vh;
  display: grid;
  grid-template-areas:
  "left right";
  grid-template-columns: 1fr 1fr;
  h3 {
    grid-area: left;
  }
  a {
    grid-area: right;
  }
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  overflow-y: scroll;
  height: 85vh;
}

.message_form {
  height: 10vh;
}

.input_message {
  height: 100%;
  width: 100%;
  resize: none;
}

.group_index_header {
  background-color: #bfbfbf;
  height: 5vh;
}

.group_contents {
  background-color: #ffffff;
  display: grid;
  grid-template-areas:
    "side upper1 upper2"
    "side footer1 footer2";
    grid-template-rows: 40px 60px;
    grid-template-columns: 100px 200px 150px;
    margin: 10px;
    .user_image {
      grid-area: side;
      background-color: #f8f8f8;
    }
    .user_name {
      grid-area: upper1;
      background-color: #f8f8f8;
    }
    .message_created_at {
      grid-area: upper2;
      background-color: #f8f8f8;
    }
    .message_content {
      grid-area: footer1;
      background-color: #f8f8f8;
    }
    .not_read_message_count {
      grid-area: footer2;
      background-color: rgba(90, 230, 40, 0.8);
    }
    .read_message {
      grid-area: footer2;
      background-color: #f8f8f8;
    }
}
