
html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0!important;
}

.header {
  background-color: blue;
  height: 5vh;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: yellow;
  overflow-y: scroll;
  height: 85vh;
}

.form {
  background-color: red;
  height: 10vh;
}

.input_message {
  width: 90%;
  margin-left: 20px;
  font-size: 15px;
  height: 20px;
}
